/* reset */
*{margin: 0;padding: 0;}
a{text-decoration: none;color:inherit;}
b,strong,h1,h2,h3,h4,h5,h6{font-weight: inherit;font-size: inherit;}
i,em,address{font-style: inherit;}
img{max-width: 100%;}
hr{display: none;}
ul,ol{list-style: none;}
table{border-collapse: collapse;}

/* font */
@font-face {
  font-family: 'PuradakGentleGothicR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.1/PuradakGentleGothicR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'BMJUA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family:'DNFBitBitv2';
  font-style:normal;font-weight:400;src:url('https://cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype');
}


/* common */
html{
    font-size: 14px;
}


/* menu */
.menu{
  margin: 0 auto;
  width: 23%;
  height: 46px;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  background: #000;
  border-radius: 70px;
  position: fixed;
  bottom: 10px;
  left: 40%;
  z-index: 100;
}
.menu>ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menu>ul>li{
  height: 100%;
  padding-top: 17px;
}


/* first */
.scrollbox{
  height: 4000px;
  position: relative;
  
}
.elv{
  height: 100vh;
  width: 100%;
  position: absolute;
  overflow: hidden;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.elv.fixed{
  position: fixed;
  left: 0;
  top: 0;
}
.elv.bottom{
  position: absolute;
  top: auto;
  bottom: 0;
}

.first{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 0;
    perspective: 3000px;
    z-index: 10;
}
.jiyeonZ{
  width: 100%;
  object-fit: cover;
  transform:translateZ(0px)
}


/* second */
.second{
    position:absolute;
    left:0;
    top:0;
    background: url(../img/Main1background.png) no-repeat 0 0/ cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Agbalumo";
    filter: brightness(0.5);
    /* opacity: 0; */
    background-attachment: fixed;
}
.second path{
  fill: transparent;
  stroke: #fff;
  stroke-width: 3;
}

.second.on path{
  stroke-dashoffset: 0!important;
  /* fill: #fff; */
}


/* thired */
.third{
    margin: 0;
    padding: 0;
    color: transparent;
    min-height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-family: "Rajdhani";
    position: relative;  
    overflow: hidden;
}
.third:before{
  z-index: -1;
  left:0;
  top:0;
  width:100%;
  height:100%;
  position:absolute;
  content:"";
  background: url(../img/Main1background.png) no-repeat 0 0/ cover;
  background-attachment: fixed;
}
.titlebox {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 4rem;
  flex-direction: column;
  justify-content: center;
  transition: all 0.8s ease 0s;
  transform: translateY(200px);
  opacity: 0;
}
.titlebox.on{
  transform: translateY(0px);
  opacity: 1;
}
.titlebox h1 {
  line-height: 0.8;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
.titlebox p{
  font-size:0.5em;
}
.txtbox {
  color: #fff;
  font-family: 'DNFBitBitv2';
  transform: translateY(0vh);
  padding-right: 170px;
  box-sizing: border-box;
  width: 50%;
  padding-bottom: 42px;
  transition: all 0.8s ease 0s;
  opacity: 0;
}
.txtbox.on{
  transform: translateY(-43vh);
  opacity: 1;
}
@keyframes textShadowAni {
  0%{
    text-shadow: 8px 3px 7px #f1c3c3, -3px -3px 17px #f1c3c3;
  }
  100%{
    text-shadow: 3px 3px 17px #f1c3c3, -8px -3px 7px #f1c3c3;
  }
}
.txtbox>h1 {
  font-size: 6rem;
  text-align: end;
  animation:textShadowAni 5s ease 0s infinite alternate;
}
.txtbox>p{
  font-size: 2.5rem;
  text-align: end;
}
.txtbox>ul{
  display: flex;
  justify-content: end;
  margin-top: 11px;
}
.txtbox>ul>li{
  margin-left: 10px;
}
.cloudCon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 197vh;
}
.cloudCon>div{
  /* flex:1; */
}
.container {
  position: relative;
  height: 86vh;
  width: 47%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,transparent,transparent,#0005);
}
/* @keyframes cloudmoving {
  0%{left:0px;}
  100%{left:100px;}
} */
/* .cloud:hover .text{
  animation-play-state: paused;
} */
.cloud {
  position: absolute;
  left: 0;
  top: 0;
  width: 670px;
  height: 124px;
  background: #fff;
  border-radius: 100px;
  z-index: 1000;
  filter: drop-shadow(0 0 35px #fff);
  /* animation:cloudmoving 5s ease 0s infinite alternate; */
}
.cloud::before {
  content: "";
  position: absolute;
  bottom: 64px;
  left: 40px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 112px 0 0 54px #fff;
}

.cloud::after {
  content: "";
  position: absolute;
  bottom: 47px;
  right: 38px;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background: #fff;
  box-shadow: -167px 0 0 47px #fff;
}
.text{
  position: absolute;
  top: 40px;
  height: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
  /* text-shadow: 0 0 5px rgb(0,0,0), */
  /* 0 0 15px #fff,
  0 0 30px #fff ; */
  /* color: rgb(255, 255, 255); */
  transform-origin: bottom;
  animation: animate linear forwards;
  z-index: -1;
  font-family: 'DNFBitBitv2';
}
@keyframes animate{
  0%{transform: translateY(0) scale(1); opacity: 0;}
  40%{opacity: 1;}
  70%{transform: translateY(calc(100vh - 200px)) scale(1);}
  100%{transform: translateY(calc(100vh - 200px)) scale(1);}
}
.flowerCat{
  position: absolute;
  bottom: 0;
  left: 0;
}
.flowerCat>img{
  width: 25%;
  transform: translateX(100%);
}



  /* four */
  /* .four{
    background: url(../img/Main4background.png) no-repeat 0 0/cover;
    min-height: 100vh;
  }
  .four>h1{
    font-size: 4rem;
    font-family: "Agbalumo";
    margin-left: 80px;
    padding-top: 50px;
    margin-bottom: 25px;
  }
  .four>p{
    font-size: 1.2rem;
    margin-bottom: 3%;
    font-family: 'Pretendard-Regular';
    box-sizing: border-box;
    margin-left: 11%;
  }
  .skill{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Rajdhani";
}
.skill_list{
    display: flex;
    flex-wrap: wrap;
    margin-left: 6%;
}
.skill_list>li{
    margin-right: 30px;
    width: 30%;
    height: 250px;
    position: relative;
    margin-bottom: 80px;
}
.skill_list>li:nth-of-type(4){
  margin-bottom: 0;
}
.skill_list>li:nth-of-type(5){
  margin-bottom: 0;
}
.skill_list>li:nth-of-type(6){
  margin-bottom: 0;
}
.skill_list>li:last-of-type{
    margin-right: 0;
}
.skill_list>li>h3{
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 50px;
}
.skill_list>li>p{
  font-weight: 600;
  width: 56%;
  height: 130px;
  font-size: 1.1rem;
}
.skill_list>li>figure{
  position: absolute;
  top: 0;
  left: 0;
  width: 32%;
  transform: translate(205%, 10px);
}
.skill_list circle{
    fill: none;
    stroke:#000;
    stroke-width: 7;
}
.skill_list svg{
    transform: rotate(-90deg);
    /* js에서 돌리면 위에서 부터 안나와서 svg를 돌림 */
/* }
.skill_list>li>.skillper{
  font-size: 0;
}
.cat3Img{
  width: 6%;
  position: relative;
  animation-name: cat3;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes cat3{
  0% {left:0px; top:0px;}
  100% {left:90%; top:0px;}
}  */


/* fourOne */
.fourOne{
  height: 4000px;
  position: relative;
  background: url(../img/Main1background.png) no-repeat 0 0/ cover;
  background-attachment: fixed;
  min-height: 100vh;
}
.four_elv{
  height: 100vh;
  width: 100%;
  position: absolute;
  overflow: hidden;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.four_elv.fixed{
  position: fixed;
  left: 0;
  top: 0;
}
.four_elv.bottom{
  position: absolute;
  top: auto;
  bottom: 0;
}
.bgbox_four {
  width: 0vw;
  height: 0vw;
  background: red;
  background: url(../img/Main4background.png) repeat 50% 50%/contain;
  background-attachment: fixed;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  /* z-index: -1; */
}
.fourOne h1{
  font-family:'DNFBitBitv2';
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: 3rem;
  padding-top: 360px;
  position:relative;
  z-index: 1;
}

/* four 2 */
.four{
  background: url(../img/Main4background.png) no-repeat 0 0/cover;
  min-height: 130vh;
}
.four>h1{
  font-size: 4rem;
  font-family: "Agbalumo";
  margin-left: 80px;
  margin-bottom: 25px;
  padding-top: 3%;
}
.skill{
  font-family: "Rajdhani";
  /* font-family: 'Pretendard-Regular'; */
  font-size: 1.2rem;
}
.skill>ul>li>h3{
  font-size: 1.5rem;
  font-weight: bold;
}
.distance_per{

  width: 61%;
}
.distance_per>section>img{
  width: 7%;
}
.distance_per>.progress{
  width: 100%;
  height: 6px;
  background: #CCC98F;
}
.skill_list>li{
  display: flex;
  align-items: center;
  height: 150px;
}
.skill_list>li>h3{
  width: 24%;
  text-align: center;
}
.skill_list>li>p{
  margin-top: 90px;
  width: 10%;
  text-align: center;
  font-weight: bold;
}
.distance_per>section{
  display: flex;
}
.distance_per>section>div{
  width: 0;
  /* transition: all 5s ease 0s; */
}
.skill_move1.on{
  width: 80%;
}
.skill_move2.on{
  width: 70%;
}
.skill_move3.on{
  width: 50%;
}
.skill_move4.on{
  width: 80%;
}
.skill_move5.on{
  width: 100%;
}
.skill_move6.on{
  width: 100%;
}

/* fiveOne */
.fiveOne{
  background: url(../img/Main5background.png) no-repeat 0 0/cover;
  background-attachment: fixed;
  min-height: 100vh;
}
.fiveOne>h1{
  font-size: 4rem;
  font-family: "Agbalumo";
  text-align: center;
  padding-top: 4%;
  margin-bottom: 5%;
}
.fiveOne>.fiveOnese{
  display: flex;
  align-items: center;
  justify-content: center;
}
.fiveSeLeft{
  margin-right: 6%;
  margin-bottom: 2%;
}
.fiveOnese>.fiveSeLeft>h1{
  font-size: 5rem;
  font-family: 'PuradakGentleGothicR';
  text-align: center;
}
.fiveOnese>.fiveSeLeft>p{
  font-size: 1.7rem;
  text-align: center;
  font-family: 'PuradakGentleGothicR';
  margin-top: 14px;
}
.fiveSeRight{
  height: 248px;
}
.fiveSeRight>p{
  font-size: 1.8rem;
  font-family: 'Pretendard-Regular';
  line-height: 1.5;
}
.fiveOne>p{
  padding: 3% 0 16% 0;
  text-align: center;
  transition: all 1.5s ease 0s;
  transform: translateY(300px);
  opacity: 0;
}
.fiveOne>p.on{
  transform: translateY(0px);
  opacity: 1;
}


/* five */
.five{
  background: url(../img/Main5background.png) no-repeat 0 0/cover;
  font-family: 'PuradakGentleGothicR';
  min-height: 80vh;
  background-attachment: fixed;
}
.fiveDiv{
  display: flex;
}
.fiveImg{
  width: 37%;
  margin-left: 7%;
}
.fiveRight{
  width: 40%;
    margin-left: 100px;
}
.fiveTop{
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.fiveTop>h3{
  flex-grow: 1;
  font-size: 2rem;
}
.fiveTop>p{
  border: 1px solid black;
  border-radius: 5px;
  font-size: 14px;
  width: 85px;
  margin-left: 10px;
  box-sizing: border-box;
  text-align: center;
  padding-top: 6px;
}
.fivefootT{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.fivefootT>dt{
  font-size: 1.5rem;
  width: 30%;
  box-sizing: border-box;
  margin-bottom: 19%;
}
.fivefootT>dd{
  font-size: 1.3rem;
  width: 70%;
  box-sizing: border-box;
  font-family: 'Pretendard-Regular';
  line-height: 1.6;
}
.fivefootF{
  display: flex;
  margin-top: 50px;
}
.fivefootF>dt{
  font-size: 1.5rem;
  box-sizing: border-box;
  margin-right: 30px;
}
.fivefootF>dd:nth-of-type(1){
  margin-right: 24%;
  font-size: 1.3rem;
  line-height: 1.39;
}
.cat4Img{
  width: 4.7%;
  margin: 0 auto;
  transform: translateY(60px);
}

/* six */
.six{
  background: url(../img/Main6background.png) no-repeat 0 0/cover;
  min-height: 100vh;
  width: 100%;
}
.six>h1{
  font-size: 4rem;
  font-family: "Agbalumo";
  margin-left: 80px;
  padding-top: 30px;
  margin-bottom: 60px;
}
.six>div{
  width: 100%;
  display: flex;
  justify-content: center;
}


/* seven */

.seven {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background: url(../img/Main7background.png) no-repeat 0 0/cover;
  margin: 0;
  padding: 5em 2.5em;
  box-sizing: border-box;
  background-attachment: fixed;
}
.sevenTitle>h1{
  font-size: 4rem;
  font-family: "Agbalumo";
  margin: 0 auto;
  margin-left: 80px;
  padding-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.sevenTitle>p{
  text-align: center;
  margin-left: 81px;
  margin-bottom: 70px;
  font-family: 'Pretendard-Regular';
}

/* banner  */
.banner>ul>li{
  width: 100%;
  margin-bottom: 198px;
  font-family: 'DNFBitBitv2';
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.bannerImg{
  width: 1200px;
}
.bannerTxt{
  text-align: center;
}
.bannerTxt>h3{
  font-size: 3rem;
  margin-bottom: 50px;
}
.bannerTxt>p{
  margin-bottom: 52px;
    font-size: 1.5rem;
}
.bannerTxt>section{
  display: flex;
}
.bannerTxt .colorleft{
  background: #fff;
  width: 238px;
  height: 100px;
  margin-right: 20px;
  display: flex;
}
.bannerTxt .colorleft>div{
  width: 150px;
  height: 100%;
}
.bannerTxt .colorleft>p{
  margin-top: 36px;
  margin-left: 5px;
  text-align: start;
}
.bannerTxt .colorright{
  background: #fff;
  display: flex;
  width: 238px;
  height: 100px;
}
.bannerTxt .colorright>div{
  width: 150px;
  height: 100%;
}
.bannerTxt .colorright>p{
  margin-top: 36px;
  margin-left: 5px;
  text-align: start;
}
.banner>ul>li:nth-of-type(1)>.bannerTxt>section>.colorleft>div{
  background: #ffef04;
}
.banner>ul>li:nth-of-type(1)>.bannerTxt>section>.colorright>div{
  background: #00d132;
}
.banner>ul>li:nth-of-type(2)>.bannerTxt>section>.colorleft>div{
  background: #0186fd;
}
.banner>ul>li:nth-of-type(2)>.bannerTxt>section>.colorright>div{
  background: #ff5500;
}
.banner>ul>li:nth-of-type(3)>.bannerTxt>section>.colorleft>div{
  background: #ccaa7a;
}
.banner>ul>li:nth-of-type(3)>.bannerTxt>section>.colorright>div{
  background: #a8000d;
}
.banner>ul>li:nth-of-type(4)>.bannerTxt>section>.colorleft>div{
  background: #000000;
}
.banner>ul>li:nth-of-type(4)>.bannerTxt>section>.colorright>div{
  background: #ffffff;
}
.banner>ul>li:nth-of-type(4)>.bannerTxt>section>.colorright{
  background: #f8f8f8;
}

.bannerLeft{
  transition: all 1s ease 0s;
  transform: translateX(-20px);
  opacity: 0;
}
.bannerLeft.on{
  transform: translateX(0px);
  opacity: 1;
}
.bannerRight{
  transition: all 1s ease 0s;
  transform: translateX(20px);
  opacity: 0;
}
.bannerRight.on{
  transform: translateX(0px);
  opacity: 1;
  }

/* popup */
.popscrollbox{
  width: 100%;
  height: 10000px;
  overflow: hidden;
  position: relative;
}
.popelv{
  position: absolute;
  /* display: flex; */
  height: 100vh;
  width: 100%;
  left:0;
  top:0;
}
.popelv.fixed{
  position: fixed;
  left: 0;
  top: 0;
}
.popelv.bottom{
  position: absolute;
  top: auto;
  bottom: 0;
}
.popstation{
  width: 100%;
  /* overflow: hidden; */
}
.poptrain {
  width: calc(600%/2.9);
  height: 100%;
  display: flex;
  transition: all 1s ease 0s;
  margin-left: 50vw;
}
.popup ul li {
  position: relative;
  margin: 0 3em;
  transition: all 0.5s ease 0s;
  /* overflow: hidden; */
  flex: 1;
  margin-right: 183px;
}
.popup .sevenImage,
.popup .shadow {
  transform: rotateX(45deg) rotateZ(-25deg);
  transform-style: preserve-3d;
  transition: .3s;
  }
.popup .sevenImage {
  position: relative;
}
.popup .sevenImage img {
  vertical-align: bottom;
  filter: grayscale(100%);
  transition: .3s;
}
.popup .sevenImage::before,
.popup .sevenImage::after {
  content: '';
  position: absolute;
}
.popup .sevenImage::before {
  bottom: -8px;
  left: 0;
  background-color: #d0d0d0;
  width: 100%;
  height: 16px;
  transform: rotateX(90deg) translateY(-8px);
}
.popup .sevenImage::after {
  top: 0;
  left: -8px;
  width: 16px;
  height: 100%;
  background-color: #bbb;
  transform: rotateY(90deg) translateX(8px);
}
.popup .shadow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: -35px 45px 15px rgba(0, 0, 0, .1);
}
.popup ul li:hover .sevenImage,
.popup ul li:hover .shadow {
  transform: rotate(0)!important;
}
.popup ul li:hover .sevenImage img {
  filter: grayscale(0)!important;
}
.popup ul li:hover .shadow {
  box-shadow: 0 5px 40px rgba(0, 0, 0, .5);
}
.banner{
    margin-bottom: 100px;
  }

  /* end */
  .end{
    background: url(../img/Main5background.png) no-repeat 0 0/cover;
    min-height: 100vh;
    text-align: center;
    position: relative;
  }
  .balloonCat{
    width: 7%;
    position: absolute;
    top: -70px;
    left: 47%;
  }
  .end>h1{
    font-size: 4rem;
    font-family: "Agbalumo";
    padding-top: 10%;
  }
  .end>p{
    margin-top: 3%;
    font-family: 'BMJUA';
    font-size: 1.8rem;
  }
  .end>p:nth-of-type(1){
    font-size: 2.5rem;
    margin-top: 5%;
  }
  .end>p:nth-of-type(4)>img{
    vertical-align: middle;
  }
  .expand{
    width: 45px;
  }

  @keyframes balloon {
    0%{transform: translateY(0%);}

    100%{transform: translateY(180%);}
  }
  .balloonCat{
    animation-name: balloon ;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  
  }
 




